body {
    background-image: url('https://github.com/designwithjung/Dragonslayer/blob/7d385f6bf582a62dd1db0d3edebc52c008f52e3e/dragon_head.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 120px auto 0px;
    padding: 24px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }